body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;

    font-size: 30px;
    color: #183A60;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

.action__btn {
    display: block;
    width: 120px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

/* container */
.container {
    width: 100%;
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: url(../images/underwater.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0;
    text-align: center;

    color: white;
}

.intro__title {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 85px;
    font-weight: 700;
}

.intro__suptitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    margin: -15px auto 0;
    text-transform: uppercase;
}

/* header */
.header {
    width: 100%;
    height: auto;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px auto;
}

.header__logo {
    line-height: 60px;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 36px;

    color: #183A60;
}

/* nav */
.nav {
    text-transform: uppercase;
    font-family: 'Patrick Hand', cursive;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    text-decoration: none;
    color: #183A60;
}

/* section */
.section {
    padding: 100px 0;
}

.section--blue {
    background-color: #183A60;
}

.section__header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__title {
    font-family: 'Oxygen', sans-serif;
    font-size: 50px;
}

.section__title--white {
    color: white;
}

.section__text {
    font-size: 25px;
}

/* about */
.about {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 235px;
}

.about__img img {
    border-radius: 140px;
}

.about__text {
    font-size: 25px;
    font-weight: bold;
    margin: 28px 0 auto;
    text-align: center;
}

/* portfolio */
.portfolio {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.portfolio__item {
    width: 600px;
}

.portfolio__text {
    width: 500px;
    font-size: 25px;
    text-align: left;
    margin: 0 50px;

    color: white;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio__img {
    width: 500px;
    border-radius: 20px;
    margin: 0 50px;
}

.slider__control {
    font-size: 0;
    display: block;
    border: 20px solid transparent;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



.slider__control_right {
    left: 0;
    border-right: 20px solid #37669A;
}

.slider__control_left {
    right: 0;
    border-left: 20px solid #37669A;
}

/* team */
.team {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 100%;
    max-width: 270px;
    height: 400px;  /* 420px without slider */

    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__img {
    max-width: 200px;
    max-height: 250px;
    margin: 35px 35px 20px 35px;
}

.team__about-pro {
    font-size: 20px;
    text-align: center;
}

.team__about-name {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}

.team_slider {
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.team__slider-item {
    width: 20px;
    height: 20px;
    font-size: 0;
    display: block;
    background-color: #3879C2;
}

.section--pricing {
    display: flex;
    width: 100%;
    height: 100vh;

    background: url(../images/pricing/ocean.jpg) center no-repeat;
    background-size: cover;
}

/* pricing */
.pricing {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.pricing__item-book {
    width: 100%;
    max-width: 530px;
    height: 550px;

    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.pricing__item-title {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 100px;

    text-align: center;
    color: #183A60;
}

.pricing__item-form {
    width: 100%;
    max-width: 380px;
    height: 330px;
    margin: 0 auto 20px;
}

.pricing__item-field {
    width: 100%;
    max-width: 380px;
    height: 50px;
    margin: 0 auto 20px;
    padding: 10px;

    color: #183A60;
    font-size: 20px;

    background: #FFFFFF;
    box-shadow: inset 0 0 1px 1px #E4F1FF;
    border-radius: 5px;
}

.pricing__btn {
    cursor: pointer;
    background: #A4CBF8;
    box-shadow: 1px 1px 0 0 #37669A;
    border-radius: 10px;
}

.pricing__item-more {
    width: 100%;
    max-width: 450px;
    height: 550px;
}

.pricing__item-tours {
    width: 100%;
    max-width: 450px;
    height: 280px;

    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.pricing__blue-text {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    margin-left: 45px;
    color: #3879C2;
}

.pricing__item-more-text {
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 0;
    margin-top: 10px;
}

.pricing__item-client {
    width: 100%;
    max-width: 450px;
    height: 250px;
    margin-top: 20px;

    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.pricing__author {
    font-size: 20px;
    text-align: right;
    margin-right: 45px;
}

/* contact */
.contact {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
}

.contact__contact {
    display: flex;
    flex-direction: column;
}

.contact__item-form {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px;
}

.contact__item-name {
    width: 100%;
    max-width: 480px;
    height: 50px;
    margin-right: 30px;

    background: #FFFFFF;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact__item-email {
    width: 100%;
    max-width: 480px;
    height: 50px;

    background: #FFFFFF;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact__item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 50px;

    text-align: left;
    margin-left: 10px;
    color: #7E95AF;
}

.contact__up {
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

.contact__item-field-name {
    width: 100%;
    max-width: 480px;
    height: 50px;
    padding: 10px;

    color: #183A60;
    font-size: 20px;

    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact__item-field-email {
    width: 100%;
    max-width: 480px;
    height: 50px;
    padding: 10px;

    color: #183A60;
    font-size: 20px;

    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 15px;
    background: #FFFFFF;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact__item-message {
    width: 100%;
    max-width: 1000px;
    height: 150px;
    padding-left: 10px;

    color: #183A60;
    font-size: 20px;

    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contact__btn {
    background: #3879C2;
    box-shadow: 0 0 4px 1px #3879C2;
    border-radius: 10px;
}

#map {
    width: 100%;
    height: 100vh;
}

/* calendar */
.section--calendar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 40px;
}

.calendar {
    width: 700px;
    height: auto;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.month {
    width: 600px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
}

.calendar .date {
    width: 600px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-gap: 10px;
}

.calendar .date div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #183A60;
}

.calendar .date div.number.active,
.calendar .date div.number:hover {
    cursor: pointer;
    background: #E4F1FF;
    box-shadow: 4px 4px 4px #37669A;
}

.footer {
    display: flex;
    height: 150px;
    line-height: 150px;
    color: #E4F1FF;
    background: #02274B;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: auto;
}

.footer__icon {
    width: 40px;
    height: 40px;
    font-size: 0;
    display: block;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #7E95AF;
    text-decoration: none;
}

@media (device-width: 575px) {

    body {
        margin-right: 0;
    }

    .intro__title {
        font-size: 50px;
    }

    .intro__suptitle {
        font-size: 20px;
    }

    .about__img img {
        width: 80px;
        margin-left: 55px;
    }

    .about__text {
        margin-top: 0;
        font-size: 20px;
    }

    .section__title {
        font-size: 40px;
    }

    .section__text {
        font-size: 18px;
    }

    .portfolio__text {
        font-size: 20px;
    }

    .portfolio__img {
        width: 300px;
    }

    .slider {
        width: 400px;
    }

    .team__img {
        max-width: 100px;
        max-height: 150px;
    }

    .team__item {
        max-width: 170px;
        height: 350px;
    }

    .team__about-name {
        font-size: 17px;
    }

    .pricing {
        margin: 0;
    }

    .pricing__item-more {
        max-width: 270px;
    }

    .pricing__item-tours {
        max-width: 250px;
    }

    .pricing__item-client {
        max-width: 250px;
    }

    .pricing__item-book {
        max-width: 270px;
        margin-left: 20px;
    }

    .pricing__item-title {
        font-size: 25px;
        line-height: 80px;
    }

    .pricing__item-field {
        width: 200px;
        margin-left: 35px;
    }

    .pricing__blue-text {
        font-size: 15px;
        margin-left: 20px;
    }

    .pricing__item-more-text {
        font-size: 18px;
        margin-left: 20px;
        padding-right: 20px;
    }

    .pricing__author {
        font-size: 18px;
    }

    .header__logo {
        display: none;
    }

    .contact__up {
        vertical-align: center;
        max-width: 1000px;
    }

    .contact__item-field-email {
        margin-left: 0;
    }

    .calendar {
        width: 500px;
    }

    .month {
        width: 400px;
        font-size: 40px;
    }

    .calendar .date {
        width: 400px;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    }

    .number {
        height: 20px;
    }

    .footer__copyright {
        font-size: 17px;
    }
}