body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;

    font-size: 30px;
    color: #183A60;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2 {
    margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: url(../images/underwater.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0;
    text-align: center;

    color: white;
}

.intro__title {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 85px;
    font-weight: 700;
}

.intro__suptitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    margin: -15px auto 0;
    text-transform: uppercase;
}

/* header */
.header {
    width: 100%;
    margin: 5px auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px auto;
}

.header__logo {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 36px;

    color: #183A60;
}

/* nav */
.nav {
    text-transform: uppercase;
    font-family: 'Patrick Hand', cursive;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    text-decoration: none;
    color: #183A60;
}