body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;

    font-size: 30px;
    color: #183A60;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

/* container */
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: url(../images/underwater.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0;
    text-align: center;

    color: white;
}

.intro__title {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 85px;
    font-weight: 700;
}

.intro__suptitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    margin: -15px auto 0;
    text-transform: uppercase;
}

/* header */
.header {
    width: 100%;
    height: auto;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px auto;
}

.header__logo {
    line-height: 60px;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    font-size: 36px;

    color: #183A60;
}

/* nav */
.nav {
    text-transform: uppercase;
    font-family: 'Patrick Hand', cursive;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    text-decoration: none;
    color: #183A60;
}

/* section */
.section {
    padding: 100px 0;
}

.section--blue {
    background-color: #183A60;
}

.section__header {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__title {
    font-family: 'Oxygen', sans-serif;
    font-size: 50px;
}

.section__title--white {
    color: white;
}

.section__text {
    font-size: 25px;
}

/* about */
.about {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 235px;
}

.about__img img {
    border-radius: 140px;
}

.about__text {
    font-size: 25px;
    font-weight: bold;
    margin: 28px 0 auto;
    text-align: center;
}

/* portfolio */
.portfolio {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.portfolio__item {
    width: 600px;
}

.portfolio__text {
    width: 500px;
    font-size: 25px;
    text-align: left;
    margin: 0 50px;

    color: white;
}

.portfolio__slider {
    position: relative;
}

.portfolio__img {
    width: 500px;
    border-radius: 30px;
    margin: 0 50px;
}

.portfolio__btn {
    font-size: 0;
    display: block;
    border: 20px solid transparent;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio__btn-prev {
    left: 0;
    border-right: 20px solid #37669A;
}

.portfolio__btn-next {
    right: 0;
    border-left: 20px solid #37669A;
}

/* team */
.team {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}

.team__item {
    width: 100%;
    max-width: 270px;
    height: 400px;  /* 420px without slider */

    background: #FFFFFF;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__img {
    max-width: 200px;
    max-height: 250px;
    margin: 35px 35px 20px 35px;
}

.team__about-pro {
    font-size: 20px;
    text-align: center;
}

.team__about-name {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}

.team_slider {
    width: 100%;
    max-width: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.team__slider-item {
    width: 20px;
    height: 20px;
    font-size: 0;
    display: block;
    background-color: #3879C2;
}